@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');

/*font-family: 'Sarpanch', sans-serif;*/

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;  
} 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.header-text {
  padding-left: 20px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.3em;
  color: #87186E;
  text-shadow: 1px 1px 10px rgba(242, 244, 248, 0.4);
}

.nav-links {
  display: inline-block;
  padding: 0px;
}

.nav-links i {
  padding: 20px;
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%; 
}

.footer-text {
  padding-right: 20px;
  order: 2;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: #87186E;
  text-shadow: 1px 1px 10px rgba(242, 244, 248, 0.4);
}

.footer-links {
  display: inline-block;
  padding: 0px;
  padding-right: 20px;
}

.footer-links a {
  padding: 20px;
  font-size: 30px;
  order: 1;
}

.fa {
  text-decoration: none;
}

.fa-volume-off {
  color: #68E2A3;

}

.fa-home {
  color: #DC07A2;
  cursor: pointer;
}

.fa-envelope-o {
  color: #EEFC05;

}

.fa-question {
  color: #EEFC05;

}

.fa-linkedin-square {
  color: #F2F4F8;

}

.fa-github {
  color: #87186E;

}

.container {
  width: 1200px;
  max-width: 90%;
  padding: 5px;
  /*border: 3px solid white;*/
}

#game-container {
  border: 2px solid greenyellow;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#option-container {
  display: grid;
  grid-template-rows: repeat(2, auto);

}

#images {
  height: 696px;
  width: 680px;
  max-width: 90%;
  background-repeat: no-repeat;
}

#text {
  color: white;
  height: 400px;
  width: 458px;
}

#buttonBox {
  display: grid;
  grid-template-rows: repeat(2, auto);
  background-color: white;
  grid-gap: 10px 20px;

}

.btn {
  background-color: green;
  width: 300px;
  border-radius: 5px;
  color: white;
  

}

#fuel{
  display: grid;
  grid-template-rows: repeat(2, auto);

}

.state-text {
  color: white;
}

.state-bar{
  width: auto;
  height: 10px;
  background-color: white;
}








.modal-header  {
    border-bottom: 0 none;
  }

  .modal-footer {
    border-top: 0 none;
  }

  .center {
    align-items: center;
    font-size: 100px;
    cursor: pointer;
  }

  @media (max-width: 576px) {

    header, footer {
      flex-direction: column;
    }
    
    .header-text .footer-text {
      text-align: center
    }

     .nav-links .footer-links {
       flex-wrap: wrap;
       justify-content: space-between;
     } 

     #images {
      max-width: 50%;
      
    }
}
  

  
 